{% extends 'dota_wiki/base.html' %}


{% block content %}
    {% if tournaments %}
        <table class="center">
            <tr>
                <td class="center">
                    <h2 class="center">List of Tournaments</h2>
                </td>
                <td>
                    <a class="btn btn-default" href="{% url 'admin_tournament_new' %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
            </tr>
        </table>
        <table class="table center">
            <tr>
                <th colspan="3" class="center">Tournament Name</th>
            </tr>
            {% for tournament in tournaments %}
                <tr>
                    <td class="center">
                        {{ tournament.1 }}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{% url 'admin_tournament_edit' pk=tournament.0 %}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{% url 'admin_tournament_remove' pk=tournament.0 %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}