{% extends 'dota_wiki/base.html' %}

{% block content %}
    {% if tournamentWinners %}
        <table class="center">
            <tr>
                <td class="center">
                    <h2 class="center">List of Tournament Winners</h2>
                </td>
                <td>
                    <a class="btn btn-default" href="{% url 'admin_tournament_winner_new' %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
            </tr>
        </table>
        <table class="center table">
            <tr>
                <th class="center">Tournament Name</th>
                <th class="center">Team Name</th>
            </tr>
            {% for winner in tournamentWinners %}
                <tr>
                    <td class="center">
                        {{ winner.1 }}
                    </td>
                    <td class="center">
                        {{ winner.2 }}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{% url 'admin_tournament_winner_edit' pk=winner.0 %}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{% url 'admin_tournament_winner_remove' pk=winner.0 %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}