{% extends 'dota_wiki/base.html' %}

{% block home %}
{% endblock %}

{% block content %}
    <div class="center">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'team_list' %}">List of Teams</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'player_list' %}">List of Players</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'tournament_list' %}">List of Tournaments</a>
            </li>
        </ul>
    </div>
{% endblock %}
